circlecircle*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000000;
	
}
/*超出隐藏*/
.textoverflow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.textoverflow-2{
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
/*字体大小*/
.font-0{
	font-size: 0px;
}
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 14px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.font-22{
	font-size: 22px;
}
.font-24{
	font-size: 24px;
}
.font-30{
	font-size: 30px;
}
.font-36{
	font-size: 36px;
}
/*外边距*/
.margin-all1{
	margin: 10px;
}
.margin-l-8 {
	margin-left: 8px;
}
.margin-lr-5{
	margin:0 5px;
}
.margin-lr-12{
	margin:0 12px;
}
.margin-lr-15{
	margin:0 15px;
	
}
.margin-lr-212{
	margin:0 212px;
	
}
.margin-tb-5{
	margin:5px 0;
}
.margin-t-5{
	margin-top: 5px;
}
.margin-l-5{
	margin-left: 5px;
}
.margin-r-5{
	margin-right: 5px;
}
.margin-b-5{
	margin-bottom: 5px;
}
.margin-t-10{
	margin-top: 10px;
}
.margin-t-40{
	margin-top: 40px;
}
.margin-l-10{
	margin-left:10px;
}
.margin-l-65{
	margin-left:65px;
}
.margin-r-10{
	margin-right: 10px;
}
.margin-b-10{
	margin-bottom: 10px;
}
.margin-t-15{
	margin-top: 15px;
}
.margin-t-30{
	margin-top: 30px;
}
.margin-l-30{
	margin-left: 30px;
}
.margin-l-15{
	margin-left:15px;
}
.margin-l-50{
	margin-left:50px;
}
.margin-l-100{
	margin-left:100px;
}
.margin-r-15{
	margin-right: 15px;
}
.margin-b-15{
	margin-bottom: 15px;
}
.margin-t-20{
	margin-top: 20px;
}
.margin-t-34{
	margin-top: 34px;
}
.margin-l-20{
	margin-left:20px;
}
.margin-l-165{
	margin-left:165px;
}
.margin-r-155{
	margin-right:155px;
}
.margin-r-388{
	margin-right:388px;
}
.margin-r-50{
	margin-right: 50px;
}
.margin-r-12{
	margin-right: 12px;
	
}
.margin-r-45{
		margin-right: 45px;
}
.margin-r-20{
	margin-right: 20px;
}
.margin-b-20{
	margin-bottom: 20px;
}
.margin-l-70{
	margin-left: 70px;
}
.margin-t-25{
	margin-top: 25px;
}
.margin-l-25{
	margin-left:25px;
}
.margin-r-35{
	margin-right:35px;
}
.margin-r-38{
	margin-right:38px;
}
.margin-t-12{
	margin-top:12px;
}
.margin-t-18{
	margin-top:18px;
}
.margin-l-55{
	margin-left:55px;
}
.margin-r-25{
	margin-right: 25px;
}
.margin-b-25{
	margin-bottom: 25px;
}
.margin-b-0{
	margin-bottom: 0px;
}
.margin-r-181{
	margin-right: 181px;
}
.margin-r-115{
	margin-right: 115px;
}
.margin-r-328{
	margin-right: 328px;
}
/*内边距*/
.padding-t-5{
	padding-top: 5px;
}
.padding-l-10{
	padding-left: 5px;
}
.padding-r-5{
	padding-right: 5px;
}
.padding-b-5{
	padding-bottom: 5px;
}
.padding-t-10{
	padding-top: 10px;
}

.padding-r-10{
	padding-right:10px;
}
.padding-b-10{
	padding-bottom: 10px;
}
.padding-t-15{
	padding-top: 15px;
}
.padding-l-15{
	padding-left: 15px;
}
.padding-r-15{
	padding-right:15px;
}
.padding-b-15{
	padding-bottom: 15px;
}
.padding-t-20{
	padding-top: 20px;
}
.padding-l-20{
	padding-left: 20px;
}
.padding-r-20{
	padding-right:20px;
}
.padding-b-20{
	padding-bottom: 20px;
}
.padding-t-25{
	padding-top: 25px;
}
.padding-l-25{
	padding-left: 25px;
}
.padding-r-25{
	padding-right:25px;
}
.padding-b-25{
	padding-bottom: 25px;
}
/*字体颜色*/
.font-red{
	color:#ff2d52;
}
.font-black{
	color:#333333;
}
.font-grey{
	color:#666666;
}
.font-pink{
	color:#ffcbd3;
}
.fontweights{
	font-weight: bold;
}
.font-white{
	color: white;
}
.font-aaaaa8{
	color: #aaaaa8;
}
.font-ff6600{
	color: #ff6600;
}
.linethroughs{
	text-decoration: line-through;
}
/*背景颜色*/
.background-r{
	background-color: #535353;
}
.background-t{
	background-color: #ff2d52;
}
.background-ec{
	background-color: #ec193e;
}
.background-f7{
	background-color: #f7f7f7;
}
.background-IMG{
	background-color: #d4e9fa;
}
.background-fff9f5{
	background-color: #fff9f5;
}
/*浮动*/
.fl-l{
	float: left;
}
.fl-r{
	float: right;
}
/*物品边框*/
.goodsoutline{
	width: 240px;
	height: 280px;
	border-left:1px solid #cccccc;
}
/*清楚浮动*/
.clearfix:after{
	content:'';
	clear: both;
	display: block;
	
}
.content{
	height: 35px;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	z-index: 999;
}

/*顶部导航*/
.TOPguide{
width:1200px;
margin: 0 auto;	
}
/*行高*/
.line-height-middle-67{
	line-height: 67px;
}
.line-height-middle-61{
	line-height: 61px;
}
.line-height-middle-55{
	line-height: 55px;
}
.line-height-middle-35{
	line-height: 35px;
}
.line-height-middle-25{
	line-height: 25px;
}
.line-height-middle-15{
	line-height: 15px;
}
.line-height-middle-20{
	line-height: 20px;
	
}
.line-height-middle-10{
	line-height: 10px;
	
}
.line-height-middle-78{
	line-height: 78px;
}
/*超出隐藏*/
.FLOWHIDDEN{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*文本居中*/
.textalign{
	text-align: center;
}
.textalign-l{
	text-align: left;
}

.search-box{
width: 1200px;
margin: 0 auto;

}
.textdecoration{
	text-decoration: line-through;
}
/*盒子居中*/
.verticalalign{
	vertical-align:middle ;
}
.inputtitle{
	border: 0;
	box-sizing: border-box;
	width: 430px;
	height: 38px;
	padding-left: 30px;
	background: url(../img/未标题-2.png) no-repeat 5px center;
}
.search-input-text{
	width: 510px;
	border: 2px solid #FF2D52;
	height: 38px;
	font-size: 0;
}
:focus{
	outline: 0;
}
.search-text{
display: inline-block;
width: 80px;
height: 40px;
text-align: center;
line-height: 40px;
color: white;
	
}
.search-text:hover{
	cursor: pointer;
}
.search-TEXTS a:hover{
	color: #FF2D52;
	cursor: pointer;
	
}
.search-middle-box{
	margin-left: 190px;
	margin-top: 40px;
}
.logo{
	margin-top: 30px;
	margin-bottom: 30px;
}
.logo:hover{
	cursor: pointer;
}

.big-middle-img{
	width: 100%;
	height: 478px;
	background: url(../img/未标题-1.png);
	position: relative;
}
.bottom-part{
	width:100% ;
	height: 378px;
	margin-top: 100px;
}

.ICON3{
	position: relative;
    top: 10px;
	 margin-left: 12px;
}
.classify-guide{
	height: 40px;
	line-height: 40px;
	position: relative;

}
.classify-guide-content{
	font-size: 0;
	width: 1200px;
	margin: 0 auto;
	
}
.classify-text{
	width: 200px;
	font-size: 14px;
	color: white;
	height: 40px;
	font-weight: bold;
	
}.classify-total{
	position: relative;
}
.classify-total:hover .goods-lists{
	display: block;
}
.goods-lists{
	width: 200px;
	position: absolute;
	top: 40px;
	display: none;
	z-index: 1;

}
.goods-lists li{
	color: white;
	height: 51px;
	font-size: 14px;
	border-bottom: 1px solid #EC193E;
	line-height: 51px;
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 20px;
	font-weight: bold;
}
.goods-lists li:hover{
	background: #EC193E;
}
.row-lists li{
	float: left;
	padding-left: 30px;
	padding-right: 20px;
	color: white;
	font-weight: bold;
	line-height: 40px;
}
.row-lists li:hover{
	background: #EC193E;
	cursor: pointer;
}
.banner{
	width: 1000px;
	height: 305px;
	border: 1px solid white;
margin-left: 232px;
position: relative;
}
.article-information{
	width: 220px;
	height: 305px;
	background: white;
	
	
}
.banner-img{
				width: 3900px;
				height: 305px;
				position: absolute;
				left: -780px;
				/*transition: all 0.5s;*/
}
.banner-img li{
	float: left;
}
.img-box{
	float: left;
	width: 777px;
	height: 305px;
	position: relative;
	overflow: hidden;
}
.second-lists{
	color: black;
	width:722px;
	height:305px;
	border: 1px solid #ff7011;
	position: absolute;
	background: white;
    top: 0;
    left: 200px;
    z-index: 200;
    display: none;
}
.goods-lists li:hover .second-lists{
	display: block;
}
.second-lists-content{
	width: 700px;
	height: 284px;
}
.goods-lists-ul{
	width: 310px;
	float: left;
	height: 260px;
	margin-left: 20px;
	 margin-right: 20px;
	 font-size: 0;
	 margin-top: 20px;
	 line-height: 20px;
}
.goods-lists-ul a:hover{
	cursor: pointer;
	color: #FF2D52;
}
.goods-lists-ul a,span{
	font-size: 12px;
	font-weight: normal;
	color: gray;
	
}
.title{
	border-bottom:1px solid #eaeaea ;
	margin-top: 10px;
	
}

.title-s{
	font-size: 14px;
	color: gray;
	font-weight: bold;

}
.main-content{
	width: 1200px;
	height: 1266px;
	margin: 0 auto;
}
.main-content-article{
	width: 1200px;
	height: 1368px;
	margin: 0 auto;
}
.right-article{
	width: 220px;
	height: 200px;
	float: right;
	border: 1px solid #e2e2e2;
}

.left-article {
	width: 960px;
	height: 1368px;
	float: left;
}

.left-article-detail{
	width: 958px;
	height: 1245px;
	float: left;
	border:1px solid #E2E2E2;
}
.top-texts{
	color: black;
	font-weight: bold;
	font-size: 12px;
	line-height: 45px;
}
.rm-article{
	height: 38px;
	border-bottom: 1px solid #e2e2e2;
	line-height: 38px;
}
.rm-texts{
	color: black;
		font-size: 12px;
	font-weight: bold;
}
.gonggao{
	list-style: square;
	font-size: 12px;
	color: black;
}
.NO1-CONTENT {
	height: 257px;
	width: 959px;
	border-top: 1px solid #E2E2E2;
	border-left: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
}
.more {
	width: 66px;
	height: 30px;
	float: right;
	margin-top: 22px;
	margin-right: 600px;
}
.NO2-CONTENT {
	height: 257px;
	width: 959px;
	border: 1px solid #E2E2E2;
}

.titleOfarticle {
	width: 900px;
	height: 61px;
	margin: 0 auto;
	border-bottom: 1px dashed #E2E2E2;
}

.contentOfarticle {
	width: 900px;
	height: 150px;
	margin: 0 auto;
	margin-top: 20px;
}

.title-text {
	font-size: 18px;
	line-height: 61px;
	color: black;
	font-weight: bold;
}

.TEXTSOFcontent {
	height: 106px;
	width: 667px;
	color: #333333;
	font-weight: bold;
	line-height: 21px;
	overflow: hidden;
}
.news-more{
	color: #FF2D52;
	
}
.news-text{
	font-weight: bold;
	color: black
}
.news-content:hover{
	color: #FF2D52;
	cursor: pointer;
	
}
.news-content{line-height: 24px;
}
.BTNS{
	background: #66605b;
border-radius: 50%;
height: 16px;
width: 16px;
line-height: 16px;
text-align: center;
}
.BTNS.on{
	background: grey;
}
.BTNS:hover{
	cursor: pointer;
	background: grey;
}
.banner-BTN{
	position: absolute;
	bottom: 15px;
	z-index: 1;
	left: 320px;
}
.numb{
	color: white;
	font-size: 12px;
}
.content-a{
	display: inline-block;
	width: 220px;
}
.recommendation-1{
	width: 1200px;
	margin: 0 auto;
	}
	
		.main{
	width: 100%;
	/*height: 50px;*/
}
.main-box{
	width: 1200px;
	margin: 0 auto;
}
.main-top{
	width: 100%;
	height: 68px;
	border-bottom:2px solid red;
}
.main-top span{
	display: inline-block;
}
.textI{
	height: 100%;
	line-height: 68px;
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: 24px;
}
.TEXTII{
	font-size: 14px;
	color:#003366;
}
.TEXTIII{
	width: 22px;
	height: 22px;
	background-color: #666666;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
}
.TEXTIV{
	color: #6699CC;
}
.main-bottom{
	width: 100%;
	
}

.content-KILL{
	float: left;
	width: 949px;
}
.content-KILL ul{
	width: 100%;
	height:323px;
	border-right: 1px solid #CCCCCC;
}
.lists{
	box-sizing: border-box;
	float: left;
	width: 33.333%;
	height: 50%;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.lists-content{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 26px;
}
.lists-img{
	float: left;
	width: 106px;
	height: 100%;
	background: url(../img/zhanweizi.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.lists-text{
	float: left;
	margin-left: 12px;
	width: 132px;
	height: 100%;
}
.lists-text .p1{
	width: 100%;
	height: 30px;
	font-size: 12px;
	-webkit-line-clamp:2;
	display: -webkit-box; 
	-webkit-box-orient:vertical;
	overflow:hidden; 
	text-overflow:  ellipsis;
	color: #333333;
}
.lists-text .p2{
	width: 100%;
	height: 25px;
	line-height: 25px;
}
.lists-text .p2 span:nth-child(1){
	color: red;
	font-size: 12px;
}
.lists-text .p2 span:nth-child(2){
	color: #ccc;
	font-size: 10px;
	text-decoration: line-through;
}
.lists-text .p3{
	width: 200px;
	margin-left: 0px;
}
.lists-text .p3 div{
	margin-top: 5px;
	float: left;
	width:61px;
	height: 7px;
	border: 1px solid #fe9373;
	border-radius:5px;
}
.lists-text .p3 div p{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	width: 50%;
	height: 7px;
	background:#fe9373;
	margin-left: -1px;
	float: left;
}
.lists-text .p3 span{
	color:#FF9966;
	font-size: 10px;
	font-weight: 600;
	margin-left: 6px;
}
.lists-text .p4{
    outline: none;
color: #000000;
	font-size: 12px;
	border: none;
	border-radius: 5px;
	width: 76px;
	height: 25px;
	margin-top: 10px;
}
.lists-text .p4:hover{
	background:#ff2d52;
cursor: pointer;
	color: #FFFFFF;
}
.content-right-more{
	float: right;
	width: 250px;
	height: 323px;
	background:#d4e9fa;
	background-size: 100%;
}
.CR-content{
	height: 227px;
	width: 148px;
	border: 1px solid white;
	margin: 46px 50px;
	box-sizing: border-box;
	padding: 51px 28px;
}
.clickmore{
	width: 88px;
	height: 30px;
	border-bottom: 2px solid white;
	font-size: 22px;
	color: white;
}
.time-limit{
	color: white;
	height: 38px;
	width: 88px;
	box-sizing: border-box;
	line-height: 38px;
	
}
.enter-click{
	width: 92px;
	height: 30px;
	color: white;
	background: #a8b5bf;
	line-height: 30px;
	border-radius: 5px;
}
.enter-click:hover{
cursor: pointer;
}
.goods-recommendation{
	width: 240px;
	height: 281px;
}
.recommendation-itself{
	height: 62px;
	width: 240px;
	line-height:70px;
	box-sizing: border-box;
	position: relative;
	
}
.recommendation-itself:hover{
	cursor: pointer;	
}
.recommendation-itself2{
	height: 62px;
	width: 1200px;
	line-height:70px;
	box-sizing: border-box;
	border-bottom: 2px solid #FF2D52;
	
}
.recommendation-itself3{
	height: 62px;
	width: 240px;
	line-height:70px;
	box-sizing: border-box;
	
}
.recommendation-itself:hover,
.recommendation-itself.show{
	border-bottom: 2px solid #FF2D52;
}

.recommendation-itselfr{
	height: 62px;
	width: 240px;
	margin-right:0;
	text-align: right;
	line-height:100px;
	color: #FF2D52;
}
.recommendation-content{
	height: 277px;
	width: 240px;
	box-sizing: border-box;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	padding: 18px 20px 10px 20px;
}
.recommendation-contentmaybelike{
	height: 277px;
	width: 240px;
	box-sizing: border-box;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	padding: 18px 20px 10px 20px;
}
.recommendation-contentr1{
	height: 277px;
	width: 240px;
	box-sizing: border-box;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	padding: 18px 20px 10px 20px;
}
.recommendation-contentr2{
	height: 277px;
	width: 240px;
	box-sizing: border-box;
	border: 1px solid #CCCCCC;
	padding: 18px 20px 10px 20px;
}
.stuff-text{
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	display: inline-block;
	width: 200px;
	
}
.stuff-text:hover{
	cursor: pointer;
	color: #FF2D52;
}
.goods-price{
	color: #FF2D52;
	font-weight: bold;
}
.SX{
	margin-bottom: -4px;
}
.BABYMOM{
	height: 467px;
	width: 1200px;
	margin: 0 auto;
	font-size: 0;
}
.BABYMOM-TEXT{
	height:68px;
	width: 1200px;
	margin: 0 auto;
	border-bottom: 2px solid #FF2D52;
}
.left-lamashouxuan{
	width: 248px;
	height: 467px;
	display: inline-block;
}
.BABYMOM-goodslists{
	width: 750px;
	height: 467px;
	display: inline-block;
	
}
.hot-sell{
	width: 200px;
	height: 467px;
	display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
    vertical-align: top;
    border-left: 1px solid #E2E2E2 ;
    border-bottom: 1px solid #E2E2E2;
}
.latest-sell{
	width: 180px;
	height: 33px;
	font-size: 14px;
	border-bottom: 1px solid #E2E2E2;
}
.left-lamashouxuan-img{
	width: 247px;
	height: 466px;
	border-left:1px solid #E2E2E2;
	border-top:1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	background: #d5eafb;
}
.BABYMOM-goodslists-IMG{
	width: 185px;
	height: 233px;
    border-left:1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	display: inline-block;
	padding: 11px 17px;
	box-sizing: border-box;
}
.latest-sell-img{
	height: 432px;
	width: 182px;
}
.latest-sell-imgs-content{
	width: 180px;
	height: 71px;
	border-bottom: 1px dashed #E2E2E2;
	box-sizing: border-box;
	padding: 9px 0px 8px 5px;
}
.latest-sell-imgs-text{
	width: 121px;
	height: 54px;
	box-sizing: border-box;
	padding: 7px;
}
.goods-lists-content-text{
	height: 50px;
	width: 151px;
}
.goods-lists-content{
	color: #333333;
	height: 35px;
	width: 151px;
	text-overflow: ellipsis;
	overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.goods-lists-content:hover{
	color: #FF2D52;
	cursor: pointer;
}
.price-baby{
	color: #FF2D52;
}
.right-latest-sell{
	text-overflow: ellipsis;
	overflow: hidden;
white-space: nowrap;
  height: 15px;
  width: 114px;
  display: inline-block;
}
.lama-circle-self{
	width: 63px;
	height: 63px;
	background: white;
	border-radius: 50%;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
.lama-circle-self:hover{
	background:#ffe9ed;
	color: #FF2D52;
	cursor: pointer;
}
.lama-circle{
	float: left;
	width: 206px;
    padding-top: 30px;
    margin-left: 20px;
}
.recommendation-itself:hover:after,
.recommendation-itself.show:after{
	display: inline-block;
	content:'';
	border: 5px solid transparent;
	border-bottom-color: #FF2D52 ;
	position: absolute;
	left: 110px;
	bottom: 0px;
}
.right-trangle{
	display: inline-block;
	float: right;
	margin-top: 40px;
}
.right-trangle-itself:hover,
.right-trangle-itself.show{
	color: #FF2D52;
	cursor: pointer;
}

.right-trangle-itself{
	position: relative;
}
.right-trangle-itself:hover:after,
.right-trangle-itself.show:after{
	display: inline-block;
	content: '';
	border: 5px solid transparent;
	border-bottom-color: #e8660f ;
	position: absolute;
	bottom: -9px;
	right: 25px;
}
.accord{
	display: inline-block;
	margin-left: 10px;
	
}
.banner-img li img{
	width: 780px;
	height: 305px;
}
.underbottom {
	border-top: 1px solid #FF2D52;
	width: 100%;
	/*height: 400px;*/
	position: absolute;
}

.underbottom:after {
	content: "";
	clear: both;
	display: block;
}
.left-article-title{
	width: 640px;
	margin-left: 160px;
}
.left-article-detail{
	padding-left: 20px ;
	padding-right: 28px;
    padding-bottom: 30px ;
    box-sizing: border-box;
}
.AN .ANNIU .button {
	width: 37px;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 32px;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	line-height: 32px;
}

.AN .ANNIU:first-child .button,
.AN .ANNIU:last-child .button {
	width: 66px;
}

.ANNIU .button:hover {
	background: #FF2D52;
	color: white;
	border-color: #FF2D52;
}

.ANNIU .button.disabled {
	background: #fff;
	color: #ccc;
	border-color: #ccc;
	cursor: not-allowed;
}

.ANNIU .button.current {
	background: #FF2D52;
	color: #fff;
	border-color: #FF2D52;
}