	.textitself1{
			width: 220px;
			display: none;
			box-sizing: border-box;
			padding-left: 22px;
			border-top: 1px solid #E2E2E2;
			line-height: 40px;
		}
		
	.textitselfbtnS1{
			width: 220px;
			min-height: 51px;
			line-height: 51px;
			padding-left: 22px;
			box-sizing: border-box;
		}
	.left-partofsfq{
			width: 220px;
			float: left;
		}
	.colorbox{
			width:220px;
			min-height: 51px;
			border: 1px solid #E2E2E2;
			border-top: transparent;
		}
	.colorbox:first-child{
			width:220px;
			min-height: 51px;
			border: 1px solid #E2E2E2;
	}
	.textitself1 p:hover{
	color: #FF2D52;
	cursor: pointer;
	}
	.RIGHT-ARROW,.DOWN-ARROW{
	margin-left: 100px;
	display: none;
	}
	.RIGHT-ARROW.showon {
	display: inline-block;
	}
	.DOWN-ARROW.showon {
	display: inline-block;
	}
	.right-partofShoppingprocess{
		width: 950px;
		border: 1px solid #E2E2E2;
		box-sizing: border-box;
		float: right;
		padding: 19px;
		padding-bottom: 0;
		
	}
	.Shoppingprocess-text{
	width: 920px;
	height: 35px;
	border-bottom: 1px dashed #E2E2E2;
	}
.right-partofShoppingprocess p{
	line-height: 22px;
	margin-bottom: 20px;
}
