.VIP-CONTENT{
	width: 100%;
	height: 638px;
	margin-bottom: 80px;
	margin-top: 20px;
}
.VIP-CONTENT-in{
	width: 1200px;
	min-height: 637px;
	border: 1px solid #E2E2E2;
	margin: 0 auto;
}
.left-VIP{
	width: 228px;
	height: 637px;

}
.left-VIP li:hover{
	color: #FF2D52;
	cursor: pointer;
}
.right-VIP{
	width: 967px;
	min-height:637px;
	box-sizing: border-box;
	border-left:1px solid #E2E2E2;
}
.vip-user{
	height: 158px;
	width: 928px;
	margin:20px;
	border: 1px solid #E2E2E2;


}
.VIP-goods{
	width:454px;
	height: 198px;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px solid #E2E2E2;
	position: relative;
}
.left-VIP-text{
	width: 228px;
	height: 58px;
	border-bottom: 1px solid #E2E2E2;
	background: #fff9f5;
	}
.left-VIP-lists1{
	width: 200px;
	height: 113px;
	margin: 0 auto;
	
}.left-VIP-lists2{
	width: 200px;
	height: 113px;
	margin: 0 auto;
	border-top: 1px solid #E2E2E2;
	
}
.left-VIP-lists3{
	width: 200px;
	height: 175px;
	margin: 0 auto;
	border-top: 1px solid #E2E2E2;
	
}
.left-VIP-lists4{
	width: 200px;
	height: 175px;
	margin: 0 auto;
	border-top: 1px solid #E2E2E2;
}
.vip-userimg{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin:19px;
}
.vip-user-name{
	width: 158px;
	height: 120px;
	background: transparent;
}
.chongzhi{
	width: 48px;
	height: 24px;
	background: #FF2D52;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	line-height: 24px;
	color: white;
}
.chongzhi:hover{
	cursor: pointer;
}
.buy-img{
	width: 100px;
	height: 158px;
	margin-left: 45px;
}
.left-VIP-text2{
	height: 59px;
	line-height: 59px;
}
.left-VIP-lists1ul{
	height: 59px;
	line-height: 35px;
}
.left-VIP-lists3ul{
	height: 167px;
	line-height: 35px;
}
.left-VIP-lists1ul li:first-child{
	list-style: square;
}
.left-VIP-lists3ul li:first-child{
	list-style: square;
}
.waiting-goods{
	height: 39px;
	width: 454px;
	background: #fff9f5;
}
.waiting-img{
	width: 375px;
	height: 160px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.arrow-left{
	position: absolute;
	border: 1px solid #E2E2E2;
	border-radius: 5px;
	width: 22px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	left: 8px;
    top: 86px;
}
.arrow-left:hover{
	background: #E2E2E2;
	color: #FF2D52;
	cursor: pointer;
}
.arrow-right{
	position: absolute;
	border: 1px solid #E2E2E2;
	border-radius: 5px;
	width: 22px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	right: 10px;
    top: 86px;
}
.arrow-right:hover{
	background: #E2E2E2;
	color: #FF2D52;
	cursor: pointer;
}
.mycouponTEXT{
	width: 930px;
	height: 55px;
	margin: 0 auto;
	border-bottom:1px solid #E2E2E2;
	line-height: 55px;
	margin-bottom: 21px;
}
.TEXT-CONTENT{
	height: 54px;
	display: inline-block;
	border-bottom:3px solid #FF2D52;
}
.couponBOX{
	width: 930px;
	margin: 0 auto;
	height: 260px;
	border: 1px solid #E2E2E2;
}
.couponBOXtitle{
	height: 39px;
	background: #fff9f5;
	line-height: 39px;
}
.couponBOXtitlesele{
	width: 85px;
	text-align: center;
	display: inline-block;
}
.couponBOXtitlesele.on{
	background: white;
	color: #FF2D52;
}
.killpaperlist{
	width: 280px;
	height: 180px;
	background-image: url(../img/killpaper.png);
}
.killpaperlist.overtime{
	width: 280px;
	height: 180px;
	background-image: url(../img/overtime-conpon.png);
}
.killpaperlist-top{
	height: 105px;
	width: 248px;
	border-bottom: 1px dashed #E2E2E2;
    margin:0 auto;
}
.killpaperlist-bottom{
	width: 140px;
	height: 38px;
	border-radius: 30px;
    margin:0 auto;
    background: #ff92a5;
    margin-top: 20px;
    text-align: center;
    line-height: 38px;
    
}
.overtime{
	color: #AAAAA8;
}
.killpaperlist-bottom.overtime{
    background: #AAAAA8;
    color: white;
	
}
.rulesofrealname{
	width: 930px;
	margin: 0 auto;
	height: 109px;
	border: 1px solid #E2E2E2;
	background: #fff9f5;
	padding: 20px;
	box-sizing: border-box;
	line-height: 26px;
	margin-bottom: 10px;
}
.rulesofrealname-ques{
	width: 930px;
	margin: 0 auto;
	box-sizing: border-box;
	margin-bottom: 34px;
	
}
.realnameinforinput{
	height: 36px;
	width: 300px;
}
.facade{
	width: 200px;
	height: 128px;
	border: 1px solid #E2E2E2;
	background: #fff9f5;
	text-align: center;
	line-height: 128px;
	margin: 0 10px;
	display: inline-block;
}
.IDCARD{
	width: 200px;
	text-align: center;
	margin: 0 10px;
	display: inline-block;
}
.tips-realname{
	width: 290px;
	margin-left: 90px;
	line-height: 25px;
	margin-top: 15px;
}
.confirmnow{
	width: 96px;
	height: 38px;
	border-radius: 5px;
	background: #FF2D52;
	text-align: center;
	line-height: 38px;
	font-size: 14px;
	color: white;
	margin-left: 90px;
	margin-top: 20px;
}
.rulesofintegral{
	width: 930px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 20px;
	background: #fff9f5;
	border: 1px solid #E2E2E2;
	margin-bottom: 20px;
}
.changeBTN{
	display: inline-block;
	width: 60px;
	height: 25px;
	background: #FF2D52;
	line-height: 25px;
	text-align: center;
	color: white;
	border-radius: 3px;
}
.signrecord{
	width: 930px;
	height: 270px;
	border: 1px solid #E2E2E2;
	margin: 0 auto;
}
.signrecord-title{
	width: 33%;
	text-align: center;
	line-height: 45px;
	font-size: 12px;
	display: inline-block;
	height: 45px;
}
.Manualbanner-box{
	    position: absolute;
	    left:0;
}
