.middle-part-findpass{
	width: 100%;
	border-top: 1px solid #FF2D52;
	}
	.findpass-content{
		width: 1200px;
		margin: 0 auto;
	}
	.stepball{
		width: 600px;
		height: 32px;
		margin: 0 auto ;
		margin-top: 80px;
		position: relative;
	}
	.stepballitself{
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: #E2E2E2;
		text-align: center;
		display: inline-block;
		opacity: 0.8;
	}
	.stepballitself.stepin{
		background: #ffc0cb;
	}
	.ballinball{
		width: 24px;
		height: 24px;
		background: gray;
		line-height: 24px;
		text-align: center;
		vertical-align: -9px;
		font-size: 16px;
		color: white;
		border-radius: 50%;
		display: inline-block;
		opacity: 1.0;

	}
	.ballinball.stepin{
		background: #FF2D52;
	}
	.inputpartI{
		width: 550px;
		margin-left: 372px;
		margin-top: 108px;
		display: block;
	}
		.inputpartII{
		width: 392px;
		margin-left: 372px;
		margin-top: 108px;
		display: none;
	}
			.inputpartIII{
		width: 392px;
		margin:0 auto;
		margin-top: 108px;
		display: none;
	}
	.firline{
    width: 235px;
    border-bottom: 3px solid grey;
    position: absolute;
    top: 20px;
    left: 45px;
	opacity: 0.8;
	}
	
	.firline.stepin{
    border-bottom: 3px solid #FF2D52;
	}
	
.secline{
    width: 224px;
    border-bottom: 3px solid grey;
    position: absolute;
    top: 20px;
    left: 308px;
	opacity: 0.8;
	
}
.secline.stepin{
    border-bottom: 3px solid #FF2D52;
	
}
