.shoppingcart-top-guide{
			    height: 50px;
	width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid #E2E2E2;
}
.carttext{
	height: 50px;
	width: 90px;
	border-bottom: 3px solid #FF2D52;
	line-height: 50px;
}
.cartcenter-content{
	height: 686px;
	width: 100%;
	border: 1px solid #E2E2E2;
}
.cartcenter-content-top{
	height: 38px;
	width: 100%;
	background: #fff9f5;
	border-bottom: 1px solid #E2E2E2;
	line-height: 38px;
}
.cartcenter-content-shop{
	height: 52px;
	width: 100%;
	line-height: 52px;
	}
	.cartcenter-content-goods{
		height:120px;
		width: 100%;
		border-top: 1px solid #E2E2E2;
		border-bottom: 1px solid #E2E2E2;
		box-sizing: border-box;
		padding: 20px;
	}
	.cartcenter-content-goods-imfor{
		height: 40px;
		width: 100%;
		border-bottom: 1px solid #E2E2E2;
		line-height: 40px;
	}
	.cart-chooseall{
		height: 66px;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
		background: #f7f7f7;
		line-height: 66px;
	}
	.main-content-cart{
		width: 1200px;
		height: 1055px;
		margin: 0 auto;
	}
	.cartgoods-text{
		width: 182px;
		height: 80px;
		box-sizing: border-box;
		padding-top: 8px;
	}
	.goods-fix{
		width: 158px;
		height: 78px;
		border: 1px dashed #FF2D52;
		margin-right: 40px;
	}
	.modificationtext{
		height: 20px;
		width: 32px;
		background: #FF2D52;
		text-align: center;
		line-height: 20px;
		margin-top: -47px;
	}
	.groupshop{
		width: 43px;
		height: 18px;
		border: 1px solid #FF2D52;
		line-height: 18px;
		text-align: center;
		border-radius: 5px;
	}
	.price-goods{
		height: 80px;
		width: 58px;
	}
	.numOfgoods{
		width: 96px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		border: 1px solid #E2E2E2;
		margin-left: 74px;
	}
	.signalof1{
		width: 19px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		border-right: 1px solid #E2E2E2;
	float: left;
	}
	.signalof1:hover{
		cursor: pointer;
		background: #E2E2E2;
	}
	.signalof2{
		width: 19px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		border-left: 1px solid #E2E2E2;
	float: right;
	}
	.signalof2:hover{
		cursor: pointer;
		background: #E2E2E2;
	}
	.thenumber{
		height: 24px;
		width:48px;
		line-height: 26px;
		text-align: center;
		border: none;
	}

	.keepOrdelete{
		height: 32px;
		width: 72px;
	}
	.payout{
		width: 160px;
		height: 68px;
		background: #FF2D52;
		text-align: center;
		line-height: 68px;
	}
	.payout:hover{
		cursor: pointer;
	}
	.totalprice{
		width: 375px;
		height: 66px;
		margin-right: 30px;
		line-height: 33px;
	}
.totalprice-goods1{
	border: none;
}
