*{
			margin: 0;
 			padding: 0;
			list-style: none;
		}
		.content-right-sidebar{
			
			width: 35px;
			top: 0;
			bottom: 0;
			position: fixed;
			right: 0px;
			background:#535353;
			z-index: 100;
		}
		.MIDDLE-PART{
			width: 100%;
			position: absolute;
			top: 30%;
	
		}

		.circle{
		width: 15px;
		height: 15px;
		background-color:#ff2d52;
		border-radius: 100%;
		margin: 0 auto;
		color: white;
		line-height: 15px;
		margin-top: 5px;
	}

   		li .icon-tubiaolunkuo-{
		margin:10px auto;
	}
		.TEXTS{
		margin: 0 auto;
		width: 20px;
		height: 50px;
		color: white;
			}
		.shopping-cart:hover{
		background: #FF2D52;
	}
		.shopping-cart:hover .circle{
		background: white;
		color: #FF2D52;
	}
		 .right-iconfont{
		 margin-top: 20px;
		  text-align: center;
	 }
	  .icon-Group-{
			 height: 40px;
			 line-height: 40px;
			
	 }
	 .icon-keFF{
	 		 height: 40px;
			 line-height: 40px;
	 }
	 .icon-Group-:hover{
		 background: #ff2d52;
	 }
	 .icon-keFF:hover{
		 background: #ff2d52;
	 }
	 .icon-Group-:hover .VIP{
		 display: block;
	 }

	 .icon-erweima{
		 position: absolute;
		 top: -110px;
		 height: 40px;
		 width: 100%;
		 line-height: 40px;
		 background: #535353;
	 }
	 .icon-erweima:hover{
		 background: #ff2d52;
	 }
	 .LINE{
		 width: 100%;
		 height: 35px;
         color: #f1f1f1;
		position: absolute;
		
	 }
	 .L-TRANGLE{
	   width: 100%;
		 height: 35px;
         color: #f1f1f1;
		position: absolute;
	 }
	 .bottom-sign{
	 	background: #535353;
	 }
	  .bottom-sign:hover{
	  	background:#ff2d52;
	  }
	 .VIP{
		 height: 40px;
		 width: 90px;
		 background: #EC193E ;
		 color: white;
		 position: absolute;
		 top: 20px;
		 right: 45px;
		 line-height:40px;
		 display: none;
		 /*transition:all 0.5s;*/
	 }

	 .QRERWEIMA{
		 width: 100px;
		 height: 100px;
		 background: url(../img/erweima.jpg);
		 position: absolute;
		 bottom: 0px;
		 right: 40px;
		 background-size: 100%;
		 display: none;
	 }
	 .icon-erweima:hover .QRERWEIMA{
		 display: block;
	 }
	 .bottom-icons{
	 	width: 100%;
	 	position: absolute;
        top: 100%;
        height: 40px;
        background: #535353;
 	 
        }
	.bottom-sign{
		height: 40px;
		width: 100%;
		bottom: 10px;
		vertical-align: middle;
		position: absolute;
		background: #535353;
		
	}
    .bottom-sign:hover{
	background: #ff2d52;
	cursor: pointer;
}
.shopping-cart-out{
width: 300px;
height: 100%;
position: absolute;
background: #f5f5f5;
right:-265px;
top: 35px;
bottom: 0;
z-index: -1;
}
.shopping-cart-out-content1{
		height: 100%;
		width: 100%;
		position: relative;
		display: none;
	}
	.shopping-cart-out-content2{
		height: 100%;
		width: 100%;
		position: relative;
	}
.SHOPPINGcart-TEXT{
	height: 40px;
	width: 100%;
	line-height: 40px;
}
.SHOPPINGcart-TEXT2{
	height: 116px;
	width: 100%;
	line-height: 40px;
	background: #e8e8e8;
	padding: 20px 24px;
	box-sizing: border-box;
}
.SHOPPINGcontent-goods{
	height: 82px;
	width: 100%;
	background: white;
	border: 1px solid #E2E2E2;
	box-sizing: border-box;
	padding: 10px;
}
.SHOPPINGcontent-goods-text{
	width: 193px;
	height: 45px;
	line-height: 15px;
	display: inline-block;
	
}
.carttext-box{
	width: 193px;
height: 60px;
}
.gotoafford{
	height: 102px;
	width: 100%;
	border-top: 1px solid #E2E2E2;
	padding: 20px 10px;
	box-sizing: border-box;
	position: relative;
	bottom: -664px;
}
.affordTEXTtotal{
	width: 280px;
	height: 36px;
	background: #FF2D52;
	line-height: 36px;
}
.kefu-lists-img{
	width: 100%;
	height: 300px;
	margin: 0 25px;
	border-bottom: 1px solid #E2E2E2;
	box-sizing: border-box;
	padding: 25px 0;
}
.kefu-lists-img-content{
	width: 200px;
	height: 40px;
	line-height: 40px;
}
.kefuimg-itself{
	background:url(../img/kefuwuwu.png);
	background-size: 100%;
	height: 27px;
	width: 30px;
	margin-top: 7px;
	margin-right: 5px;
}
.phonenum-kefu{
	height: 128px;
	width: 100%;
	margin: 0 25px;
	
}
.img-phone{
	margin-top: 30px;
	margin-right: 10px;
}
.phonenum-kefu-text{
height: 50px;
line-height: 22px;
}
