	body {
    font-size: 12px;
    background: #f1f1f1;
	
	}
	
	.TOP-PART {
	position: relative;
	width: 100%;
	height: 68px;
	border-bottom: 3px solid #275e91;
	}
		
	.title-menu{
		position: absolute;
		border-radius: 3px;
		border: 1px solid #ddd;
	    left: 200px;
		width: 700px;
	    bottom: 0px;
		/* 渐变色叠加 */
	    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefdfd), color-stop(1, #e6e6e6));*/
	    background: linear-gradient(#fefdfd,#e6e6e6);
	}
	
	.titlelogo {
    position: absolute;
    left: 16px;
    top: 30px;
	}
	

	.title-menu ul li {
  	height: 27px;
  	line-height: 24px;
    float: left;
	
	}
	.title-menu ul li a{
			color: black;
			font-size: 12px;
		    padding: 0 26px;
		    height: 100%;
		    text-decoration: none;
	}

	.title-menu ul li a.active {
	    display: block;
	    color: white;
	    height: 28px;
	    border: 1px solid #25619a;
		/* 渐变色叠加 */
	    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5da9ef), color-stop(1, #4280ba));*/
	    background: linear-gradient(#5da9ef,#4280ba);
	    
  			  }
			  
  			  
	.loginOptions {
		width:100%;
	}
	.loginOptions ul {
		margin-left: 88px;
	}


	.loginOptions ul li {
		float: left;
		line-height: 27px;

	}
	.loginOptions ul li a{
		text-decoration: none;
		color: #464646;
		
	}

	.cutline {
	    width: 100%;
	    border-top: 1px solid #d6d6d6;
	    border-bottom: 1px solid #fff;
		}
		
	.cutline-row {
	    margin: 6px 10px;
	    height: 12px;
		/* 左右颜色叠加出分割线*/
		border-left: 1px solid #d6d6d6;
		border-right: 1px solid #fff;
	}
	/* 侧边栏 */
		.left-sidebar{
			position: fixed;
		    left: 0;
		    height: 100%;
		    min-height: 222px;
		    background: #417eb7;
		}
		.head-img{
			    position: absolute;
			    left: 15px;
			    top: -22px;
			    width: 52px;
			    height: 52px;
			    border-color: #9d9d9d;
			    background-color: #fff;
				text-align: center;
				padding-top: 3px;
				border-radius: 4px;
				border: 2px solid #9d9d9d;;
			}
		.sidebar-innertop{
				font-size: 12px;
				color: white;
			    margin-bottom: 12px;
			    height: 21px;
			    line-height: 21px;
			    text-indent: 88px;
				/* 渐变色叠加 */
	            background: linear-gradient(#4b4a4a,#0c0c0c);
		}
		
		.sidebar-options ul li {
		    float: none;
		    height: 27px;
		    line-height: 27px;
			width: 200px;
		}
		.sidebar-options ul li:hover{
			background-color: #2d689f;
		}
		.actived{
			background-color: #2d689f;
		}
		.sidebar-options ul li a{
			    display: block;
			    color: #b9ddff;
				text-decoration: none;
				margin-left:48px;
		}
		
